<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>测试打印页面</title>
<meta name="keywords" content="Lodop、Lodop打印控件、WEB打印、C-Lodop、CLodop、lodop控件、云打印、手机打印、免费、AO打印">
<meta name="description" content="Lodop、Lodop打印控件、WEB打印、C-Lodop、CLodop、lodop控件、云打印、手机打印、免费、AO打印">
<script language="javascript" src="/static/print/LodopFuncs.js"></script>
</head>
<body>
<h2><font color="#009999">演示如何打印当前页面的内容：</font>
</h2>
<div id="ticket" style="display: none;">
    hello</br>
    asdasd
</div>
<br>
<p>1：若只打印《表单一》,看一下<a href="javascript:prn1_preview()">打印预览</a>,可<a href="javascript:prn1_print()">直接打印</a>也可
<a href="javascript:prn1_printA()">选择打印机</a>
</p>
<script language="javascript" type="text/javascript">
        var LODOP; //声明为全局变量
	function prn1_preview() {
		CreateOneFormPage();
		LODOP.PREVIEW();
	};
	function prn1_print() {
		CreateOneFormPage();
		LODOP.PRINT();
	};
	function prn1_printA() {
		CreateOneFormPage();
		LODOP.PRINTA();
	};
	function CreateOneFormPage(){
		LODOP=getLodop();
		LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_表单一");
		LODOP.SET_PRINT_STYLE("FontSize",18);
		LODOP.SET_PRINT_STYLE("Bold",1);
		LODOP.ADD_PRINT_TEXT(50,231,260,39,"打印页面部分内容");
		LODOP.ADD_PRINT_HTM(88,200,350,600,document.getElementById("ticket").innerHTML);
	};
	function prn2_preview() {
		CreateTwoFormPage();
		LODOP.PREVIEW();
	};
	function prn2_manage() {
		CreateTwoFormPage();
		LODOP.PRINT_SETUP();
	};
	function CreateTwoFormPage(){
		LODOP=getLodop();
		LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_表单二");
		LODOP.ADD_PRINT_RECT(70,27,634,242,0,1);
		LODOP.ADD_PRINT_TEXT(29,236,279,38,"页面内容改变布局打印");
		LODOP.SET_PRINT_STYLEA(2,"FontSize",18);
		LODOP.SET_PRINT_STYLEA(2,"Bold",1);
		LODOP.ADD_PRINT_HTM(88,40,321,185,document.getElementById("form1").innerHTML);
		LODOP.ADD_PRINT_HTM(87,355,285,187,document.getElementById("form2").innerHTML);
		LODOP.ADD_PRINT_TEXT(319,58,500,30,"注：其中《表单一》按显示大小，《表单二》在程序控制宽度(285px)内自适应调整");
	};
	function prn3_preview(){
		LODOP=getLodop();
		LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_全页");
		LODOP.ADD_PRINT_HTM(0,0,"100%","100%",document.documentElement.innerHTML);
		LODOP.PREVIEW();
	};
</script>

</body>
</html>